<%= form_for(@video), url: videos_path, html: { multipart: true } do |video_form| %>
	<% if @video.errors.any? %>
	  <div id="errorExplanation">
	    <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>
	    <ul>
	    <% @video.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	  <% end %>

	<div class="field">
		<%= video_form.label :description %><br>
		<%= video_form.text_field :description %>
	</div>
	
	<div class="field">
		<%= video_form.label :pic, 'Upload Picture' %><br>
		<%= video_form.file_field :pic %>
	</div>

	<div class="actions">
	    <%= video_form.submit %>
	</div>
<% end %>